@import '../../../_mixin';
@import '../../../_variables';

.header {
  padding: 1rem 0;
  border-bottom: 0.5px solid $black60;

  .header__container {
    @include container;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .header__logo {
      height: 2.5rem;
    }

    .header__body {
      display: none;

      @include sm {
        display: flex;
      }

      flex-direction: row;
      gap: 2rem;
      font-weight: 600;

      .header__link {
        position: relative;
        padding: 0.25rem;

        &::after {
          content: '';
          height: 2px;
          background-color: $primary;
          position: absolute;
          left: 0;
          bottom: 0;
          width: 0%;
          transition: all 0.25s ease-out;
          opacity: 80%;
        }

        &:hover {
          &::after {
            width: 100%;
          }
        }
      }
    }
  }
}

.header__mobile {
  @include sm {
    display: none;
  }
}
