$primary: #563283;
$primary80: rgba(86, 50, 131, 0.8);
$primary60: rgba(86, 50, 131, 0.6);
$secondary: #33c6da;

$black: #424242;
$black60: #737171;
$black20: #dedede;
$black5: #f4f4f4;

$breakpoint-xs: 576px;
$breakpoint-sm: 768px;
$breakpoint-md: 992px;
$breakpoint-lg: 1200px;
$breakpoint-xl: 1440px;

$container-width: 1280px;
